<%-include('./partials/header.ejs')%>

<div class="ui three item menu">
    <a class="active item" href="/admin">Quiz</a>
    <a id="quiz-create" class="item" href="/admin/add">Créer Quiz</a>
</div>



<%-include('./quiz.ejs')%>
<%-include('./partials/footer.ejs')%>