<%-include('partials/header.ejs')%>

<div style="height: 100%;width: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="ui placeholder segment">
        <form class="ui form" action="/admin/login" method="POST">
            <div class="field">
                <label>Identifiant</label>
                <div class="ui left icon input">
                    <input type="text" name="username" value="<%=username%>">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <label>Mot de passe</label>
                <div class="ui left icon input">
                    <input type="password" name="password">
                    <i class="lock icon"></i>
                </div>
            </div>

            <%if(error){%>
            <div class="field" style="text-align: -webkit-center;">
                <span style="color: red;"><%=error%></span>
            </div>
            <%}%>
                <button class="ui blue submit button" type="submit">Se connecter</button>
        </form>
</div>
</div>

<%-include('partials/footer.ejs')%>