<%-include('./partials/header.ejs')%>

<div class="ui three item menu">
    <a class="active item" href="/admin">Quiz</a>
    <a id="quiz-create" class="item" href="/admin/add">Créer Quiz</a>
</div>

<div class="ui two column grid" id="play" data-url="<%=quiz.url%>" data-id="<%=quiz.id%>">
    <div class="column" id="<%=quiz.id%>">
        <div class="ui segment" style="text-align: -webkit-center;">
            <img src="<%=quiz.image%>" alt="" />
            <div style="text-align: center;">
                <h5><%=quiz.name%></h5>
                <p><%=quiz.description%></p>
            </div>
        </div>
        <div style="display: flex;">
            <button class="ui blue button" id="button-projector">Afficher sur le projecteur</button>
            <a href="/admin/play/<%=quiz.id%>/start" target="_blank" class="ui positive button"
                style="margin: 0;">Ouvrir
                dans un onglet</a>
        </div>
    </div>

    <div class="column">
        <div class="ui segment" style="height: 95%;overflow-y: scroll;position: absolute;" id="players-segment">
            <h5 class="ui header">Joueurs connectés</h5>
            <h2 class="ui center aligned icon header">
                <i class="circular users icon"></i>
                <span id="players-number"></span>
            </h2>

            <div id="players-here"></div>

        </div>
    </div>
</div>

<div class="ui one column grid" id="play-salon">
    <div class="column">
        <div class="ui segment" id="play-salon2">
            <div class="ui fluid container">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui fluid container">
                                <div id="end_quiz"
                                    style="display: none;text-align: center;font-size: -webkit-xxx-large;">Fin du QUIZ !
                                </div>
                                <div class="ui height column centered grid quiz-question-reponses">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="control_chrono">
                        <div class="ui segment">
                            <div id="media">
                                <div id="video">
                                    <div class="ui icon buttons">
                                        <button class="ui button" onclick="playVideo()">
                                            <i class="play icon"></i>
                                        </button>
                                        <button class="ui button" onclick="pauseVideo()">
                                            <i class="pause icon"></i>
                                        </button>
                                        <button class="ui button" onclick="replayVideo()">
                                            <i class="undo icon"></i>
                                        </button>
                                    </div>
                                    <video id="myVideo" controls width="250">
                                        <source src="" type="video/mp4" />
                                    </video>
                                </div>

                                <div id="image">
                                    <img src="" alt="">
                                </div>
                            </div>

                            <button id="start_quiz" class="positive ui button"
                                style="margin: 0 auto;width: 50%;height: 20%;font-size: x-large;">Lancer Quiz</button>
                            <div id="chrono" class="ui fluid container" style="display: none; height: 100%;">
                                <div id="control_buttons">
                                    <button class="ui positive basic button" onclick="start()"
                                        style="background-color: white;">Start</button>
                                    <button class="ui negative basic button" onclick="stop()"
                                        style="background-color: white;">Stop</button>
                                </div>
                                <div id="circleProgress">
                                    <div id="container" style="text-align: -webkit-center;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="next_step" class="ui primary button">
    Afficher question
</button>
<div class="ui buttons" id="play-quiz-buttons" style="margin-top: 5%;display: none;">
    <button type="button" class="ui labeled icon button disabled" id="previous">
        <i class="left chevron icon"></i>
        Précédent
    </button>
    <button type="button" class="ui right labeled icon button" id="next">
        <i class="right chevron icon"></i>
        Suivant
    </button>
</div>


<!-- CAROUSSEL -->
<div class="glider-contain" id="glider">
    <h2 class="ui header">Questions du quiz</h2>
    <div class="glider">
        <%questions.forEach(function(question){%>
        <div class="ui container">
            <div class="column quiz-question">
                <h3 class="ui header"><%=question.name%></h3>
                <div class="glider-question">
                    <%question.reply.forEach(function(reply){%>
                    <div id="<%=reply.id%>">
                        <%if(reply.is_correct){%>
                        <p style="border: 2px solid #009432;">
                            <%=reply.name%>
                        </p>
                        <%}else{%>
                        <p style="border: 2px solid #EA2027;">
                            <%=reply.name%>
                        </p>
                        <%}%>
                    </div>
                    <%})%>
                    </div>
                </div>
            </div>
            <%})%>
        </div>

        <button role="button" aria-label="Previous" class="glider-prev">«</button>
        <button role="button" aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div>
    <!-- classement

    <div class="container" style="margin-top: 1rem; padding: 1rem;">
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th width='5%'></th>
                <th>Pseudo</th>
                <th>Points</th>
                <th width='10%'>Position</th>
            </tr>
        </thead>
        <tbody id="classement">

        </tbody>
    </table>
</div>
-->


    <%-include('./partials/footer.ejs')%>
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.addEventListener('load', function () {
            new Glider(document.querySelector('.glider'), {
                slidesToShow: 1,
                dots: '.dots',
                draggable: true,
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                }
            })
        })
        /**
         * INFOS SOCKET.IO
         */
        const __URL = "https://mateo.webky.fr";
        const __OPTIONS = { secure: true };
        const socket = io(__URL, __OPTIONS);
        //

        // Salon 
        const room = $('#play').data('url');

        var question_interval = setInterval(() => { }, 100);
        var number_of_questions = 99999; // nombre de questions
        var next_step = ''; // étapes du quiz
        var number_reply = 0; // compteur des réponses. 0 -> 3 (4)
        var quiz_id = 0;
        var game_id = 0;
        var round = 1;

        var media = false;
        var media_type = 'image';
        var url_before = '';
        var url_after = '';



        socket.emit('game_info', room);

        socket.on('number_of_questions', ({ length, id }) => {
            number_of_questions = length;
            quiz_id = id
        });

        var old_position = [];

        socket.on('show_classement', response => {
            response.sort(function (a, b) {
                return b.score - a.score;
            });
            console.log("classement")
            console.log(response)
            show_classement(response);
        });

        socket.on('game_id', response => {
            console.log('game id : ' + response)
            game_id = response;
        });

        socket.on('players', response => {
            var text = "";
            response.players.forEach(elem => {
                text += "<p>" + elem.pseudo + "</p>";
            });

            $('#players-number').html(response.number);
            $('#players-here').html(text);
        });

        socket.on('show_question', response => {
            socket.emit('classement', {
                room,
                id: game_id
            });

            let question = response.question;

            if (question.youtube_before != '') {
                media = true;
                media_type = 'video';
                url_before = question.youtube_before;
                url_after = question.youtube_after;
                $('#media').show();
                $('#media #video video').attr('src', "/videos/" + url_before);
                $('#myVideo')[0].load();
                $('#media #video').show();
            }
            else if (question.image_before != '') {
                media = true;
                media_type = 'image';
                url_before = question.image_before;
                url_after = question.image_after;
                $('#media').show();
                $('#media #image').attr('src', "/images/" + url_before);
                $('#media #image').show();
            } else {
                media = false;
                media_type = '';
                url_before = '';
                url_after = '';
                $('#media').hide();
                $('#media #video').hide();
                $('#media #image').hide();
            }

            let content = '';

            content += '<div class="column quiz-question" data-order="' + question.order + '">' + question.name + '</div>';
            content += '<div class="ui grid container quiz-reponses">';
            content += '</div>';
            content += '</div>';

            $('.quiz-question-reponses').html(content);
        });

        socket.on('show_reply', response => {
            let reply = response.reply;
            let content = '';

            content += '<div class="height wide column" id="' + reply.id + '">';
            content += '<p style="font-size: x-large;">' + reply.name + '</p>';
            content += '</div>';
            content += '</div>';

            $('.quiz-reponses').append(content);

            setTimeout(() => {
                socket.emit('classement', {
                    room,
                    id: game_id
                });
            }, 2000);
        });

        socket.on('show_good_reply', response => {
            if (media_type == 'video') {
                $('#media #video video').attr('src', "/videos/" + url_after);
            }
            else {
                $('#media #image').attr('src', "/images/" + url_after);
            }
            $('#' + response).addClass('good_reply');
        });


        $('#start_quiz').click(function (e) {
            startQuiz(room, quiz_id);
        });

        // étapes de l'affichage question/réponses/chrono/bonne réponse
        $('#next_step').click(function () {
            switch (next_step) {
                case "question":
                    $('#play-quiz-buttons').show(); // boutons suivant/précédent

                    getQuestion(room, Number(sessionStorage.getItem('question_number')));

                    let val = Number(sessionStorage.getItem('question_number')) + 1;
                    sessionStorage.setItem('question_number', val)

                    console.log(sessionStorage)
                    next_step = 'reply';

                    $('#next_step').text('Afficher réponse 1');
                    break;

                case "reply":
                    getReply(room, getNumberOfCurrentQuestion(), number_reply);
                    if (number_reply == 3) {
                        number_reply = 0;
                        next_step = 'start_chrono';

                        $('#next_step').text('Lancer le chrono');
                        break;
                    } else {
                        number_reply++;
                    }
                    $('#next_step').text('Afficher réponse ' + (number_reply + 1)); // case 0 du tableau + 1
                    break;

                case "start_chrono":
                    $('#media').hide();

                    startChrono(room);
                    break;

                case "show_good_reply":
                    next_step = 'show_ranking';
                    $('#next_step').text('Afficher le classement');

                    if (media) {
                        if (media_type == "video") {
                            $('#media #video video').attr('src', url_after);
                            $('#myVideo')[0].load();
                        }
                        else if (media_type == "image") {
                            $('#media #image').attr('src', url_after);
                        }
                        $('#media').show();
                    }

                    getGoodReply(room, getNumberOfCurrentQuestion());
                    break;

                case "show_ranking":
                    getRanking();

                    if (Number(sessionStorage.getItem('question_number')) < number_of_questions) {
                        next_step = 'question';
                        $('#next_step').text('Question suivante');
                    } else {
                        next_step = 'end_quiz';
                        $('#next_step').text('Fin du Quiz');
                    }
                    break;

                case "end_quiz":
                    $('#media').hide();

                    socket.emit('end_quiz', {
                        room
                    });
                    endQuiz();
                    break;

                default:
                    break;
            }
        });

        $('#next').click(function (e) {
            console.log("next : " + Number(sessionStorage.getItem('question_number')))
            let number = Number(sessionStorage.getItem('question_number'));
            if (number === 0) {
                number = 1;
            }
            getQuestion(room, number);

            next_step = 'reply';
            number_reply = 0;

            $('#next_step').text('Afficher réponse ' + (number_reply + 1)); // case 0 du tableau + 1
            console.log(number);

            sessionStorage.setItem('question_number', Number(number + 1));

            console.log("session : " + Number(sessionStorage.getItem('question_number')))
        });

        $('#previous').click(function (e) {
            console.log("previous " + Number(sessionStorage.getItem('question_number')));
            let number = Number(sessionStorage.getItem('question_number'));
            if (number === number_of_questions) {
                number = number - 2;
            } else {
                number = number - 1;
            }
            getQuestion(room, number);

            next_step = 'reply';
            number_reply = 0;

            $('#next_step').text('Afficher réponse ' + (number_reply + 1)); // case 0 du tableau + 1
            console.log(number)

            sessionStorage.setItem('question_number', number);
        });


        /* CIRCLE PROGRESS BAR*/
        const _TIME = 15000;
        var old_time = Date.now();
        var new_time = Date.now() - old_time;

        var bar = new ProgressBar.Circle(container, {
            color: '#aaa',
            // This has to be the same size as the maximum width to
            // prevent clipping
            strokeWidth: 5,
            trailWidth: 1,
            easing: 'linear',
            duration: _TIME,
            text: {
                autoStyleContainer: false
            },
            from: { color: '#009432', width: 1 },
            to: { color: '#EA2027', width: 5 },
            // Set default step function for all animate calls
            step: function (state, circle) {
                circle.path.setAttribute('stroke', state.color);
                circle.path.setAttribute('stroke-width', state.width);

                var seconde = (_TIME / 1000);
                // var value = Math.round(circle.value() * 100); // valeurs de 0 à 100
                var value = circle.value() * 100; // valeurs de 0 à 100

                if (value === 0) {
                    circle.setText('');
                }
                else {
                    circle.setText((seconde - (value / (100 / seconde))).toFixed(2)); // afficher les secondes par ordre décroissant
                }
            }
        });
        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '3rem';

        /**
         * CHRONO
         */
        function start() {
            socket.emit('chrono_start');
            old_time = Date.now();
            bar.animate(1.0, { // Number from 0.0 to 1.0
                duration: (_TIME - new_time)
            });
        }
        function stop() {
            socket.emit('chrono_stop', room);
            new_time += (Date.now() - old_time);
            bar.stop();
        }



        /**
         * FUNCTIONS SOCKET EMIT
         * room = url du quiz et donc du salon => $('#play').data('url')
         * number_question = numéro de la question - 1 pour l'index du tableau
         */

        function startQuiz(room, id_quiz) {
            socket.emit('start_quiz', {
                room,
                id: id_quiz
            });
            sessionStorage.setItem('question_number', Number(0)); // initialisation de la session
            sessionStorage.setItem('round', {
                round
            });

            $('#start_quiz').hide();
            $('#end_quiz').hide();
            $('#next_step').text('Afficher question');


            $('#next_step').show();
            $('#next_step').attr('style', 'display: block !important');
            $('.quiz-question-reponses').show();

            next_step = 'question';

            question_interval = setInterval(() => {
                let number = Number(sessionStorage.getItem('question_number'));

                if (number < number_of_questions) {
                    $('#next').removeClass('disabled');
                } else {
                    $('#next').addClass('disabled');
                }

                if (getNumberOfCurrentQuestion() === 0) {
                    $('#previous').addClass('disabled');
                } else {
                    $('#previous').removeClass('disabled');
                }

                if (bar.value() === 1 && getNumberOfCurrentQuestion() < number_of_questions) {
                    timeout(room);

                    bar.set(0);

                    $('#chrono').hide();
                    $('#next_step').show();
                    $('#next_step').text('Afficher la bonne réponse');

                    next_step = 'show_good_reply';
                }

            }, 100);
        }
        function show_classement(response) {
            let content = '';
            if (response != undefined) {
                let i = 1;
                console.log(sessionStorage)
                let session_round = sessionStorage.getItem('round');

                response.forEach(elem => {
                    let pos = '';
                    let pos_number = 0;
                    if (session_round.round > 1) { // à partir du 2e tour
                        session_round.position.forEach(item => {
                            if (item.player === elem.player) {
                                pos_number = Math.abs(i - item.position);

                                if (i > item.position) {
                                    pos = '-';
                                } else if (i < item.position) {
                                    pos = '+';
                                } else {
                                    pos = '=';
                                }
                            }
                        });

                        content += '<tr>';

                        switch (pos) {
                            case '+':
                                content += '<td><i class="angle up icon" style="color:#009432"> ' + pos_number + '</i></td>'
                                break;
                            case '-':
                                content += '<td><i class="angle down icon" style="color:#EA2027"> ' + pos_number + '</i></td>'
                                break;
                            case '=':
                                content += '<td><i class="angle right icon" style="color:#f39c12"> ' + pos_number + '</i></td>'
                                break;

                            default:
                                break;
                        }
                    } else {
                        content += '<tr>';
                        content += '<td><i class="angle right icon" style="color:#f39c12"> ' + pos_number + '</i></td>' // position +0
                    }
                    content += '<td>' + elem.player + '</td>';
                    content += '<td>' + elem.score + '</td>';
                    content += '<td>' + i + '</td>';
                    content += '</tr >';

                    old_position.push({
                        position: i,
                        player: elem.player
                    });

                    i++;
                });
                sessionStorage.setItem('round', JSON.stringify({
                    round,
                    position: old_position
                }));

                console.log(sessionStorage.getItem('round'))
                round++;
                $('#classement').html(content);
            }
        }
        function timeout(room) {
            socket.emit('end_chrono', room);
        }
        function endQuiz() {
            socket.emit('end_quiz', room);
            next_step = '';

            $('#chrono').hide();
            $('#next_step').hide();
            $('#start_quiz').fadeIn(2000);
            $('.quiz-question-reponses').hide();
            $('.quiz-question-reponses').html('');
            $('#end_quiz').fadeIn(2000);
            $('#play-quiz-buttons').hide();

            clearInterval(question_interval);
            sessionStorage.clear(); // destruction de la session à la fin du quiz
            console.log(sessionStorage)
        }
        function getQuestion(room, number_question) {
            $('#media').hide(); // remise à 0

            socket.emit('question', {
                room,
                number: number_question,
                time: _TIME
            });
        }

        function getReply(room, number_question, number_reply) {
            socket.emit('reply', {
                room,
                number: number_question,
                number_reply
            });
        }

        function getGoodReply(room, number_question) {
            socket.emit('good_reply', {
                room,
                number: number_question
            });
        }

        function getRanking() {
            socket.emit('projector_ranking', room);
        }

        function getNumberOfCurrentQuestion() {
            if ($('.quiz-question').data('order') === undefined) {
                return 0;
            } else {
                return Number($('.quiz-question').data('order'));
            }
        }
        function getNumberOfTheNextQuestion() {
            return getNumberOfCurrentQuestion() + 1;
        }
        function getNumberOfThePreviousQuestion() {
            return getNumberOfCurrentQuestion() - 1;
        }
        function startChrono(room) {
            socket.emit('start_chrono', {
                room,
                time: _TIME,
                number_question: getNumberOfCurrentQuestion()
            });

            next_step = 'question';

            $('#next_step').hide();
            $('#chrono').show();

            old_time = Date.now();
            new_time = Date.now() - old_time;
            start();
        }



        $('#button-projector').click(function (e) {
            $.ajax({
                url: 'http://localhost:1337/admin/play/' + $('#play').data('id') + '/start',
                method: 'GET'
            });
            // récupérer automatiquement le salon si le projecteur est sur "/"
            // data('url') = qrcode du quiz
            socket.emit('projector_room_connection', $('#play').data('url'));
            });


            // VIDEO
            var vid = document.getElementById("myVideo");
            function playVideo() {
                vid.play();
                socket.emit('play_video', {
                    room: room,
                    val: 1
                });
            }
            function pauseVideo() {
                vid.pause();
                socket.emit('play_video', {
                    room: room,
                    val: 0
                });
            }
            function replayVideo() {
                vid.load();
                socket.emit('play_video', {
                    room: room,
                    val: 10
                });
            }

    </script>