<div class="ui four column grid" id="quiz">
    <% posts.forEach(function(quiz){ %>
    <div class="column" id="<%=quiz.id%>">
        <div class="ui segment">
            <a href="/admin/play/<%=quiz.id%>" title="Choisir ce quiz">
                <img src="<%=quiz.image%>" alt="" />
                <div style="text-align: center;">
                    <h5><%=quiz.name%></h5>
                    <p><%=quiz.description%></p>
                </div>
            </a>
            <a href="/admin/edit/<%=quiz.id%>" class="edit-quiz">
                <div class="ui one bottom attached buttons">
                    <div class="ui button">
                        <i class="edit icon"></i>
                        Modifier
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% }); %>
</div>