<%-include('./partials/header.ejs')%>

<div class="ui three item menu">
    <a class="item" href="/admin">Quiz</a>
    <a class="active item" href="/admin/add">Créer Quiz</a>
</div>

<div class="fourteen wide column">
    <div class="ui segment">
        <div class="ui positive message" style="display:none;">Données enregistrées !</div>

        <form class="ui form" id="quiz-add-edit" data-method="<%=method%>" data-url="<%=url%>" data-id="<%=quiz.id%>">
            <div style="width: 100%;display: flex;">
                <div style="width: 50%;">
                    <div class="field">
                        <label>Nom du Quiz</label>
                        <input type="text" name="name" value="<%=quiz.name%>" id="quiz-name">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <input type="text" name="description" value="<%=quiz.description%>" id="quiz-description">
                    </div>
                </div>
                <div id="quiz-delete">
                    <%if(delete_button == 'disabled'){%>
                    <button type="button" class="ui inverted red button" onclick="deleteQuiz()" disabled>Supprimer
                        quiz</button>
                    <%}else{%>
                    <button type="button" class="ui inverted red button" onclick="deleteQuiz()">Supprimer quiz</button>
                    <%}%>
                </div>
            </div>
            <div class="field" style="width: 50%;">
                <label>Image</label>
                <div style="display: flex;align-items: center;">
                    <input type="text" name="image" value="<%=quiz.image%>" id="quiz-image" style="height: 3em;">
                    <img src="<%=quiz.image%>" alt="" style="width: 10em !important;">
                </div>
            </div>

            <div>
                <button type="button" class="ui basic button" onclick="addQuestion()">
                    Ajouter Question
                </button>
            </div>
            <table id="addQuestion" class="ui selectable table" style="width: 100%;text-align-last: center;">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Image</th>
                        <th>Vidéo</th>
                        <th>Bonne réponse</th>
                        <th>Mauvaises réponses</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%questions.forEach(function(question){%>
                    <tr>
                        <td>
                            <div class="field">
                                <input class="question" type="text" name="name" value="<%=question.name%>">
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <span>Avant</span>
                                <i class="trash alternate outline icon delete" title="supprimer image"></i>
                                <input type="file" class='image_before' name="image_before"
                                    accept="image/png, image/jpeg, image/jpg, image/svg"
                                    data-path="<%=question.image_before%>">

                                <img src="/images/<%=question.image_before%>" alt="" style="width: 10em !important;">
                            </div>
                            <div class="field">
                                <span>Après</span>
                                <i class="trash alternate outline icon delete" title="supprimer image"></i>
                                <input type="file" class="image_after" name="image_after"
                                    accept="image/png, image/jpeg, image/jpg, image/svg"
                                    data-path="<%=question.image_before%>">


                                <img src="/images/<%=question.image_after%>" alt="" style="width: 10em !important;">
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <span>Avant</span>
                                <i class="trash alternate outline icon delete" title="supprimer vidéo"></i>
                                <input type="file" class="youtube_before" name="youtube_before"
                                    accept="video/mp4, video/avi" data-path="<%=question.youtube_before%>" />
                                <%if(question.youtube_before != ''){%>
                                <video controls>
                                    <source src="/videos/<%=question.youtube_before%>" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <%}%>
                            </div>
                            <div class="field">
                                <span>Après</span>
                                <i class="trash alternate outline icon delete" title="supprimer vidéo"></i>
                                <input type="file" class="youtube_after" name="youtube_after"
                                    accept="video/mp4, video/avi" data-path="<%=question.youtube_after%>" />
                                <%if(question.youtube_after != ''){%>
                                <video controls>
                                    <source src="/videos/<%=question.youtube_after%>" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <%}%>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <input class="reponses good-reply" type="text" name="name"
                                    value="<%=question.reply[0].name%>">
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <input class="reponses bad-reply" type="text" name="name"
                                    value="<%=question.reply[1].name%>">
                            </div>
                            <div class="field">
                                <input class="reponses bad-reply" type="text" name="name"
                                    value="<%=question.reply[2].name%>">
                            </div>
                            <div class="field">
                                <input class="reponses bad-reply" type="text" name="name"
                                    value="<%=question.reply[3].name%>">
                            </div>
                        </td>

                        <td style="text-align: center;">
                            <i title="Supprimer" class="fas fa-times delete-question" data-id="<%=question.id%>"></i>
                        </td>
                    </tr>

                    <% });%>
                </tbody>
            </table>

            <input type="submit" value="Sauvegarder" class="ui positive button">
        </form>
    </div>
</div>

<%-include('./partials/footer.ejs')%>

<!-- Script Drag and Drop -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/admin/admin.js"></script>