html,
body,
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#root{
    padding: 1vh;
}

/* CLASSEMENT */

.ui.middle.aligned.list {
  width: 50%;
  margin: 5vh auto;
  font-size: 4vh;
}

.ui.middle.aligned.list > .item {
  margin-top: 5%;
}

.ui.blue.circular.label {
  font-size: -webkit-xxx-large;
}

i#ranking {
  position: fixed;
  top: 2vh;
  right: 2vh;
  font-size: xx-large;
  margin: 0;
  color: #ffa502;
  cursor: pointer;
  transition-duration: 500ms;
}

i#ranking:hover {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

/* ProjectorQuiz */

#ProjectorQuiz {
  height: 100vh;
  margin: 0 !important;
}

video {
  width: 50% !important;
  margin: 1% auto;
  display: block;
}

#ProjectorQuiz .column {
  padding: 0;
}

#ProjectorQuiz .ui.segment {
  height: 100%;
}

#qrcode {
  height: 100%;
  align-content: center;
  display: none;
  margin: 0;
}

#image-qrcode {
  margin-top: 15vh;
  width: 100%;
  height: 50vh;
}

#image-qrcode + div {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-size: 3vh;
  font-weight: 900;
}

/* ProjectorQuiz SALON */

#videoProj {
  height: 100vh;
}

#videoProj .ui.segment {
  height: 100vh !important;
}

#videoProj h5 {
  padding: 1rem;
  font-size: xx-large;
}

#videoProj h2 {
  font-size: 5vh;
}

#videoProj h2 .users.icon {
  font-size: 10vh;
}

#videoProj #loader {
  font-size: 2vh;
  width: 100%;
  display: grid;
  justify-items: center;
}

#videoProj #loader .inline.loader {
  margin-bottom: 1vh;
}

#videoProj #loader small {
  font-size: 100%;
}

#videoProj #players-connected {
  overflow: auto !important;
  height: 50vh !important;
  padding: 1rem !important;
}

#videoProj #players-connected p {
  padding: 2px;
  font-size: xx-large;
  border-bottom: solid 1px silver;
}

/* REPONSES */

#ProjectorQuiz #replies {
  margin-top: 2.5% !important;
  padding: 5rem !important;
}

#ProjectorQuiz .progress {
  width: 66.66% !important;
}

#ProjectorQuiz .progress .label {
  font-size: xx-large !important;
}

#ProjectorQuiz #chrono {
  margin-top: 2.5% !important;
}

#ProjectorQuiz #replies div {
  font-size: 2.5vh !important;
  width: 48% !important;
  border: 1px solid #f79f1f;
  border-radius: 100px !important;
  margin: 1% !important;
  height: 10vh !important;
  display: flex;
  align-items: center;
  place-content: center;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -o-border-radius: 100px !important;
}

#ProjectorQuiz .ui.embed {
  max-width: 50% !important;
  height: 40vh !important;
  margin: 0 auto !important;
  margin-top: 1% !important;
  padding: 0 !important;
}

/* QUESTION */

#ProjectorQuiz #question {
  margin-top: 5% !important;
}

#ProjectorQuiz #question div {
  font-size: 5rem !important;
  width: 95% !important;
  text-align: center;
  line-height: normal;
}

#ProjectorQuiz thead {
  font-size: 2vh;
}

#ProjectorQuiz #classement {
  font-size: 1.5vh;
  width: 100%;
}

/* QUIZ IMAGE */

#quiz-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* LOGIN */

#login {
  display: flex;
  height: 100%;
  align-items: center;
  .icon.input {
    margin: 0 auto;
  }
}

#login #error {
  position: absolute;
  width: 100%;
  bottom: 33.33%;
  color: red;
  text-align: center;
}

/* SALON */

#salon h5 {
  padding: 1rem;
}

#salon #loader {
  width: 100%;
  display: grid;
  justify-items: center;
}

#salon #players-connected {
  overflow: auto !important;
  height: 500px !important;
  padding: 1rem !important;
}

#salon #players-connected p {
  padding: 2px;
  font-size: 10px;
  border-bottom: solid 1px silver;
}

/* NAVBAR */

#navbar .container {
  text-align: right;
}

#navbar .container a {
  color: white;
  cursor: pointer;
}

/* AFFICHAGE QUIZ */

table {
  width: 100%;
}

#quiz td {
  width: 25%;
  padding: 0 !important;
  cursor: pointer;
  transition-duration: 500ms;
}

#quiz td div {
  border: none !important;
  text-align: center;
}

#quiz td img {
  width: 100%;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

#quiz td:hover {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

#end_quiz {
  display: none;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: -webkit-xxx-large;
}

#container {
  text-align: -webkit-center;
}

/* Progress Bar */

.ui.active.progress {
  padding: 1rem;
  border-radius: 50px !important;
  width: 100% !important;
  margin: 0 auto;
  background-color: white;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.ui.active.progress .bar {
  min-width: 0 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#chrono {
  margin-top: 7vh;
  display: none;
  width: 100%;
}

/* REPONSES */

#replies {
  text-align: center;
  margin-top: 5%;
}

#replies div {
  border: 2px solid #f79f1f;
  background-color: white;
  color: #f79f1f;
  border-radius: 50px;
  margin: 1rem 0 1rem 0 !important;
  height: 5rem;
  display: flex;
  align-items: center;
  place-content: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.user_reply {
  background-color: #f79f1f !important;
  color: white !important;
}

.good_reply {
  border: 2px solid #009432 !important;
  background-color: #009432 !important;
  color: white !important;
}

.bad_reply {
  border: 2px solid #ea2027 !important;
  background-color: #ea2027 !important;
  color: white !important;
}

#valider {
  width: 100%;
  margin-top: 20%;
}

#valider button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* QUESTION */

#question {
  margin-top: 20%;
}

#question .column {
  width: 90%;
  text-align: center;
}

/* BUTTON */

/* MOBILES */

@media only screen and (max-device-width: 812px) {
  table td {
    display: contents !important;
  }
  #ranking-image {
    width: 10rem;
  }

  /* CLASSEMENT MODAL */
  .ui.middle.aligned.list {
    width: 100%;
    font-size: 1em;
  }

  .ui.middle.aligned.list > .item {
    margin-top: 0;
    padding: 5px;
  }
}
