@charset "UTF-8";
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* CAROUSEL */
#glider {
  width: 80%;
  margin-top: 5%;
  border-top: 1px solid;
  h2 {
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  h3 {
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  .glider-question div {
    text-align: center;
    margin: 1em;
    p {
      font-size: medium;
      border-radius: 50px;
      padding: 1em;
      width: 66.66%;
      margin: 0 auto;
    }
  }
}

/* SUPPRIMER IMAGES/VIDEOS */
.trash.alternate.outline.icon {
  margin-left: 25%;
}
.trash.alternate.outline.icon:hover {
  color: red;
}

/* VIDEO */
#media {
  display: none;
  width: 100% !important;

  #video,
  #image {
    display: none;
  }
  .ui.icon.buttons {
    width: fit-content !important;
  }
}

video,
img {
  width: 100% !important;
}
//

.good_reply p {
  background-color: #009432;
  border: 2px solid #009432;
  color: white;
}
.fa-edit:hover {
  color: #0652dd;
}

.fa-times:hover,
.fa-trash-alt:hover {
  color: #ea2027;
}

#quiz-delete {
  width: 50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: -webkit-center;
}

#quiz {
  a {
    text-decoration: none;
    color: #000;
  }

  .ui.segment {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  img {
    width: 100%;
    height: 20rem;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
  }
  p {
    word-break: break-word;
    text-align: center;
    height: 5rem;
  }

  .ui.segment:hover {
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
  }
}

#play {
  img {
    height: 50vh;
    width: 100%;
  }
  .button {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #players-segment {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }
}

#play-salon {
  margin: 0 !important;

  .quiz-question {
    width: 100%;
    text-align: center;
    font-size: x-large;
    line-height: normal;
  }
  .quiz-reponses {
    margin-top: 2.5%;
  }
  .quiz-reponses .column p {
    padding: 1rem;
    border: solid 1px silver;
    border-radius: 5px;
  }
  .ui.segment {
    height: 50vh;
  }
}
#play-salon2 {
  border: none;
  box-shadow: none;

  .ui.segment {
    display: flex;
    align-items: center;
  }
}
#play-quiz-buttons {
  width: 100%;
  padding: 0;
}

.quiz-question-reponses p {
  font-size: initial !important;
}

#players-here p {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid silver;
}

#circleProgress {
  position: relative;
  svg {
    display: block;
    width: 100%;
    height: 40vh !important;
  }
}

#classement tr:hover {
  background-color: #ecf0f1;
}

@media only screen and (max-device-width: 1048px) and (orientation: portrait) {
  .ui {
    width: 100%;
  }
  #quiz-create {
    display: none;
  }
  .column {
    margin: 0 !important;
    padding: 0 !important;
  }
  #quiz {
    .column {
      padding: 0.5rem !important;
    }
    .edit-quiz {
      display: none;
    }
    div {
      font-size: 5px;
    }
    p {
      text-align: justify !important;
      line-height: 1.4285em;
      overflow: hidden;
      height: 1.5rem !important;
    }
    h5 {
      margin-bottom: 0.5rem;
      font-size: 12px;
    }
    img {
      height: 5rem;
    }
  }

  #play {
    display: block;
    h5 {
      padding: 5px;
    }
    .button {
      margin: 0 auto;
      width: 75%;
      border-radius: 0;
    }
    #players-segment {
      padding: 0 !important;
      position: relative !important;
      height: 50rem !important;
      width: 100%;
      margin-top: 5% !important;
    }
    .column {
      width: 100%;
    }
  }

  #play-quiz-buttons button {
    width: 33.33%;
  }

  #play-salon {
    .quiz-question {
      font-size: x-large !important;
    }
    .quiz-reponses {
      display: block;
      width: 100%;
      margin: 20% 0px 0px 0px;
      padding: 0;
    }
    .quiz-reponses div {
      width: 100% !important;
      margin-bottom: 2rem !important;
    }
    #play-salon2 {
      padding: 0;
    }
  }

  #start_quiz {
    margin: 0 auto !important;
    width: 100% !important;
    height: 25% !important;
    font-size: x-large !important;
  }

  #next_step {
    display: none;
    margin: 5% auto !important;
    width: 66.66% !important;
    font-size: x-large !important;
  }

  #circleProgress {
    display: flex;
    height: unset !important;
    justify-content: center;

    svg {
      display: block;
      width: 100%;
      height: -webkit-fill-available !important;
    }
  }

  #control_buttons {
    display: flex;
  }
}

.field {
  input[type="file"] {
    text-align-last: left;
    border: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  video {
    width: 10em !important;
  }
}
@media only screen and (orientation: landscape) {
  .quiz-question-reponses .quiz-reponses {
    padding: 0 !important;

    .height.wide.column {
      padding: 1rem 0.5rem 1rem 0.5rem !important;
    }
  }

  #play-salon .ui.segment {
    height: 65vh !important;
  }
  #start_quiz,
  #next_step {
    margin: 0 auto !important;
    width: 100% !important;
    height: 20% !important;
    font-size: x-large !important;
  }
  #circleProgress {
    display: flex;
    height: unset !important;
    justify-content: center;
    svg {
      display: block;
      width: 100%;
      height: -webkit-fill-available !important;
    }
  }
  #control_buttons {
    display: flex;
  }
}
